.todoAppContainer {
    margin: 0 auto;
    width: 100%;
}

.h1 {
    margin: 0;
    text-align: start;
    font-weight: bold;
    font-size: 35px;
}

.formContainer {
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.inputBtn {
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 41px;
    background-color: rgb(97, 3, 147);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:500px) {
    .inputBtn {
        font-size: 39px;
        width: 50px;
        height: 50px;
    }
}

.inputBtn:active {
    background-color: yellowgreen;
    color: black;
}

.inputText {
    outline: none;
    width: 300px;
    border: solid 1px black;
    border-radius: 4px;
    height: 41px;
    font-size: 18px;
    padding: 8px;
}

@media (min-width:500px) {
    .inputText {
        width: 500px;
        height: 50px;
        font-size: 25px;
    }
}

/* Cards */

.postTasksContainer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 30px;
}

@media (min-width:700px) {

    .postTasks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: start;
        padding: 8px;
        margin-top: 20px;
    }

}